@import '../../../styles';

.main-div
{

}

.menu-div
{
    margin-top: 10px;
    margin-left: 10px;
}

.menu
{
    background: $theme;
    border-top-right-radius: 40px;
    padding: 10px;
    height: 230px;
}

.menu-items
{
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid $theme-light;
    font-size: 20px;
    color: $light;
    padding: 10px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    transition: transform .2s;
}

.menu-items:hover
{
    background: $theme-light;
    transform: scale(1.1);
}

button
{
    border: none;
    background: white;
    color: $theme;
    font-size: 25px;
    outline: none;
    transition: transform .2s;
}

button:active, button:focus
{
    outline: none;
}

button:hover
{
    transform: scale(1.1);
}