<div class=" container-fluid main-div">

  <div class="row">
    <div class="col-md-11"></div>
    <div class="col-md-1">
      <a (click)="navigate()" style="color: #b3d1ff">
        <i class="fa fa-window-close fa-2x close-icon-div"></i>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">

    </div>

    <form #newMessageForm="ngForm" class="login-div col-md-4 form-group" (ngSubmit)="sendMessage(newMessageForm.value)">
      <div class="heading">New message</div>
      <label class="form-element">Select service type:</label>
      <br>
      <label class="checkbox form-element check-box">
        <input type="checkbox" name="early" ngModel> Early van service </label>
      <label class="checkbox form-element">
        <input type="checkbox" name="late" ngModel> Late van service </label>
      <br>

      <label class="form-element">Time
        <span class="small-text">(Early Service)</span>:</label>
      <input class="form-element form-control" type="datetime-local" name="earlyTime" ngModel>

      <label class="form-element">Time
        <span class="small-text">(Late Service)</span>:</label>
      <input class="form-element form-control" type="datetime-local" name="lateTime" ngModel>

      <div *ngIf="true"></div>

      <button type="submit" class="form-control form-element">Send</button>
    </form>

    <div class="col-md-4">

    </div>
  </div>
</div>

<router-outlet></router-outlet>