<div class="container-fluid main-div">
  <div class="row">
    <div class="col-md-1">
      <img src="../../../assets/img/logo.png" class="img-responsive">
    </div>

    <div class="col-md-3">
      <h1> {{ title }} </h1>
    </div>

    <div class="col-md-1">
      
    </div>

    <div class="col-md-1">
      
    </div>

    <div class="col-md-3">
      
    </div>

    <div class="col-md-1 login-div">
      
    </div>

    <div class="col-md-1 login-div">
      
    </div>

    <div class="col-md-1 login-div">
      <button (click)="set()"><i class="fa fa-sign-out"></i> Logout</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>