<div class=" container-fluid main-div">

  <div class="row">
    <div class="col-md-11"></div>
    <div class="col-md-1">
      <a (click)="navigate()" style="color: #b3d1ff">
        <i class="fa fa-window-close fa-2x close-icon-div"></i>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">

    </div>

    <div class="login-div col-md-10">
      <div class="heading">Message History</div>
      <div class="message" *ngFor="let message of messageList; let i=index" (click)="viewResponses(i)">
        <span style="text-decoration: underline">Date</span>: {{ message.createdOn }},
        <span style="text-decoration: underline">Event</span>: {{ message.event }},
        <span style="text-decoration: underline">Posted by</span>: {{ message.adminId }},
        <span style="text-decoration: underline">Early service</span>: {{ message.earlyService }},
        <span style="text-decoration: underline">Late service</span>: {{ message.lateService }},
        <span style="text-decoration: underline">Early service time</span>: {{ message.earlyTime }},
        <span style="text-decoration: underline">Late service time</span>: {{ message.lateTime }}
      </div>
    </div>

    <div class="col-md-1"></div>
  </div>

  <div class="row">

    <div class="col-md-1"></div>

    <div class="login-div col-md-10">
      <div class="heading">Responses</div>
      <div class="message" *ngFor="let response of responseList">
        <span style="text-decoration: underline">Student ID</span>: {{ response.userId }},
        <span style="text-decoration: underline">Early service</span>: {{ response.earlyService }},
        <span style="text-decoration: underline">Late service</span>: {{ response.lateService }}
      </div>
    </div>

    <div class="col-md-1"></div>

  </div>


</div>

<router-outlet></router-outlet>