<div class="container-fluid main-div">
  <img src="../../../assets/img/logo.png" alt="TransportFacile logo here ..">
  <h1>Transport Facile</h1>
  <h2>Travel services made easy...</h2>
  <br><br><br><br><br>
  <button class="btn buttons" routerLink='login'>Login</button><br>
  New to <span style="font-family: 'Pacifico', serif">Transport Facile</span>? <a style="color: white; text-decoration: underline;" routerLink='register'>Create an account</a>
  <br><br>
  <span>Or</span>
  <br><br>
  <button class="btn buttons" routerLink='app' style="width: 200px;">Continue without Login</button><br>
</div>

<router-outlet></router-outlet>